* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

.navbar {
  width: 85%;
  margin: auto;
  padding: 5px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar .logo {
  color: #181818;
  font-weight: bold;
}

.btn {
  background-color: #4461fa; /* Green */
  border: none;
  color: white;
  border-radius: 8px;
  padding: 10px 20px;
  text-align: justify;
  font-size: 16px;
}
.body{ 
    padding-top: 150px;
    width: 100%;
    height: 500px;
    background: url(./imgs/bg.jpg) no-repeat top right/cover;
    text-align: center;
    color: white;
}
.body h1{
  padding: 10px;
  margin: 10px;

}
.body div{
 
  margin: 10px;
}
.body input{
  padding: 9px;
  margin: 15px;
    border: none;
    font-size: 16px;
}
.body .bg {
  width: 100%;
  height: auto;
}
