* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

.navbar {
  width: 85%;
  margin: auto;
  padding: 5px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar .logo {
  color: #181818;
  font-weight: bold;
}

.btn {
  background-color: #4461fa; 
  border: none;
  color: white;
  border-radius: 8px;
  padding: 10px 20px;
  text-align: justify;
  font-size: 16px;
  transition: .5s;
}
.btn2{
  padding: 8px 18px;
}
.body{ 
    padding-top: 150px;
    width: 100%;
    height: 500px;
    background: url(./imgs/bg.jpg) no-repeat top right/cover;
    text-align: center;
    color: white;
}
.body h1{
  padding: 10px;
  margin: 10px;

}
.body div{
 
  margin: 10px;
}
.body input{
  padding: 8px 10px;
    margin: 15px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
}
.card img{
  width: 80px;
  margin-left: 120px;
}
.body .bg {
  width: 100%;
  height: auto;
}
.cards{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 60px;
  margin: 30px;
}
.card{
  padding: 30px;
    width: 619Px;
    height: 220px;
    margin: 30px;
    
    /* background-color: rgb(0, 255, 166); */
}
.card h2,p{
  line-height: 35px;
  margin-left: 105px;
}
footer{
  width: 100%;
    height: 200px;
    background-color: #EBEBF3;
}
.icon , .text{
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 30px;
}
.icon img{
  width: 40px;
  margin:20px 20px;
}
.text h3{
  color: #585656;
  padding: 10px;
}
.btn:hover{
    background-color: white;
    color: #585656;
    border: 2px solid #1500ff;
  font-size: 18px;
}
.btn2:hover{
  background: transparent;
  color: white;
  border: 2px solid #1500ff;
  font-size: 18px;
}
.card:hover{
  height: auto;
  background-color: #f9f6f6;
}
.body input:focus{
  outline:2px solid #3c4cff;
}