
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Lato', sans-serif;
}
:root{
  --btn-color:#017bff;
}
.navbar {
  position: fixed;
  width: 100%;
  height: 55px;
  padding: 15px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
}
.navbar .logo {
  color: #181818;
  font-weight: bold;
  margin-left: 45px;
  font-size: 20px;
}

.btn {
  background-color: var(--btn-color); 
  border: none;
  color: white;
  border-radius: 8px;
  padding: 10px 20px;
  margin-right: 45px;
  text-align: justify;
  font-size: 16px;
  transition: .5s;
}
.btn2{
    padding: 10px 25px;
    margin-left: 7px;
    border-radius: 3px;
    cursor: pointer;
    border: 1px solid var(--btn-color);
}
.body{ 
    padding-top: 150px;
    width: 100%;
    height: 500px;
    background: url(./imgs/bg.jpg) no-repeat  top right/cover;
    text-align: center;
    color: white;
    
}
.body p{
  padding: 10px;
  margin: 10px;
  font-weight: bold;
  font-size: 45px;
  line-height: 60px;
  word-spacing: 12px;
}
.body div{
  text-align: center;
  margin: 10px;
}
.body input{
  padding: 10px 100px 10px 10px;
  margin: 15px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
}
.card img{
  width: 70px;
  /* margin-left: 120px; */
}
.body .bg {
  width: 100%;
  height: auto;
}
.cards{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 400px;
}
.card{
  width: 400px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  border-radius: 10px;
  padding: 10px;
  margin: 15px;
    
}
.cards .card h2{
  margin: 10px;
  text-align: center;
}
.cards .card h2,p{
  line-height: 35px;

}
.cards .card p{
  color: #050505;
  text-align: center;
}
footer{
  width: 100%;
    height: 200px;
    background-color: #fefefe;
    border-top: 1px solid #051641 ;
}
footer .icon , .text{
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 30px;
  margin: 10px;
}
.bar{
  background: #051641;
  padding: 10px;
  color: white;
  text-align: center;
}
.icon img{
  width: 50px;
  margin: 20px;
}
.text h3{
  position: relative;
  color: #585656;
  padding: 10px;
}
.btn:hover{
    background-color: white;
    color: #585656;
    border: 2px solid var(--btn-color);
    /* font-size: 18px; */
}
.btn2:hover{
  background: transparent;
  color: white;
  border: 2px solid var(--btn-color);
  font-size: 18px;
}
.body input:focus{
  outline:2px solid var(--btn-color);
}
.text h3 span{
  position: absolute;
  bottom: 12px;
  left: 1px;
  font-size: 30px;
  
}
.cards .card:hover{
  background-color: #E0F4FF;
}